<div class="row">
  <aside class="offset-sm-4 col-sm-4 offset-sm-4 user_show_image">
        <%= render 'users/image', user: @user %>
        <h3 class="text-center"><%= @user.name %></h3>
  </aside>
</div>
<div class="row">
  <div class="offset-sm-1 col-sm-5">
    <h4 class="user_show_p">フォロー</h4>
    <%= render 'users', users: @followings %>  
  </div>
  <div class="col-sm-5 offset-sm-1">
    <h4 class="user_show_p">お気に入りの趣味</h4>
    <%= render 'hobbies/hobbies', hobbies: @favorite_hobbies %>
  </div>
</div>

<div class="row">
  <div class="offset-sm-1 col-sm-5">
    <h4 class="user_show_p">フォロワー</h4>
    <%= render 'users', users: @followers %>
  </div>
  <div class="col-sm-5 offset-sm-1">
    <h4 class="user_show_p">お気に入りの楽しみ方</h4>
    <%= render 'ways/ways', ways: @favorite_ways %>
  </div>
</div>