<div class="row">
  <div class="offset-sm-4 col-sm-4 offset-sm-4 user_show_image">
        <%= render 'users/image', user: @user %>
        <h3 class="text-center"><%= @user.name %></h3>
        <div class="user_show_followbutton">
          <%= render 'relationships/follow_button', user: @user %>  
        </div>
  </div>
</div>
<div class="row">
  <div style="test-center" class="offset-sm-4 col-sm-2 button_user_show">
    <%= link_to 'フォロー', followings_user_path(@user), class: 'btn btn-light btn-lg' %>
  </div>
  <div style="test-center" class="col-sm-2 button_user_show">
    <%= link_to 'フォロワー', followers_user_path(@user), class: 'btn btn-light btn-lg' %>
  </div>
</div>
<br><br>
<h4 class="user_show_p">投稿</h4>
<%= render 'ways/ways', ways: @user.ways %>
