<div class="col-sm-12">
<table class="table">
  <thead>
  </thead>
  <tbody class="ranking_index">
    <% ways.each_with_index do |way, i| %>
      <tr>
        <th>
          <p class="text-center"><i class="fas fa-crown"></i><%= i+1 %>位</p>
        </th>
        <th>
          <%= render 'ways/image', way: way %>
        </th>
        <td>
          <p><%= link_to way.name, way_path(way) %></p>
        </td>
        <td class="ranking_target">
          <%= way.rate %>
          <% if way.rate == 1 %>
            <span class="beginner">対象：初級者</span>
          <% elsif way.rate == 2 %>
            <span class="middle">対象：中級者</span>
          <% elsif way.rate == 3 %>
            <span class="hard">対象：上級者</span>
          <% else %>
            <span class="unknown">対象：不明</span>
          <% end %>
          <br>
        </td>
        <td class="ranking_favorite_count">
          <span><i class="fas fa-star"></i><%= way.favorite_ways_counts(way) %></span> 
          <br>
          <span><i class="fas fa-heart"></i><%= way.enjoyed_ways_counts(way) %></span> 
        </td>
        <td class="ranking_decoration">
          <% if way.user==current_user %>
            <span><%= link_to '編集', edit_way_path(way), class: 'btn btn-sm btn-primary' %></span>
            <span><%= link_to "削除", @way, method: :delete, data: { confirm: "削除してよろしいですか?" }, class: 'btn btn-danger btn-sm' %></span>
          <% else %>
            <%= render 'favorite_ways/favorite_way_button', way: way %>
          <% end %>
        </td>
      </tr>
    <% end %>           
  </tbody>
</table>
</div>