<div class="col-sm-12">
<table class="table">
  <thead>
  </thead>
  <tbody class="ranking_index">
    <% ways.each_with_index do |way, i| %>
      <tr>
        <th>
          <p class="text-center"><i class="fas fa-crown"></i><%= i+1 %>位</p>
        </th>
        <th>
          <%= render 'ways/image', way: way %>
        </th>
        <td>
          <p><%= link_to way.name, way_path(way) %></p>
        </td>
        <td>
          <span><i class="fas fa-star"></i><%= way.favorite_ways_counts(way) %></span>          
        </td>
        <td class="ranking_decoration">
          <% if way.user==current_user %>
            <%= link_to '編集', edit_way_path(way), class: 'btn btn-sm btn-primary' %>
            <%= link_to "削除", @way, method: :delete, data: { confirm: "削除してよろしいですか?" }, class: 'btn btn-danger btn-sm' %>
          <% else %>
            <%= render 'favorite_ways/favorite_way_button', way: way %>
          <% end %>
        </td>
      </tr>
    <% end %>           
  </tbody>
</table>
</div>