
<%= form_with url: search_ways_path, method: :get, local: true do |f| %>
  <div class='form-group'>
    <%= f.label :search, 'キーワード' %>
    <%= f.text_field :search, class: 'form-control' %> 
  </div>
  <div class="form-group" id="star">
    <%= f.label :rate,'難易度 ' %>
    <%= f.text_field :rate, class: 'form-control', placeholder:'0～3の数字で入力してください（0、すべて、1:初心者、2:中級者、3:上級者）' %>
  </div>
 
  <%= f.submit '検索', class: 'btn btn-light btn-block' %> 
  <%= params[:rate]
<% end %>
<br><br>
<%= render 'ways', ways: @ways %>