<div class="row">
    <div class="col-sm-2 way_show_image">
        <%= render 'ways/image', way: @way %>
    </div>
    <div class="col-sm-8 way_show_name">
        <h4><%= @way.name %></h4>
    </div>
    <% if @user==current_user %>
        <div class="col-sm-2 way_edit_button">
            <%= link_to '編集', edit_way_path, class: 'btn btn-sm btn-primary' %>
            <%= link_to "削除", @way, method: :delete, data: { confirm: "削除してよろしいですか?" }, class: 'btn btn-danger btn-sm' %>
        </div>
    <% else %>
        <div class="col-sm-2 way_show_favorite">
            <%= render 'favorite_ways/favorite_way_button', way: @way %>
        </div>    
    <% end %>
</div>
<Hr Width="100%">
<div class="row">
    <div class="col-sm-1 way_show_userimage">
      <%= render 'users/image', user: @user %>
    </div>
    <div class="col-sm-7 way_show_username">
        <p><%= link_to @way.user.name, user_path(@way.user) %></p> 
    </div> 
    <div class="col-sm-4 way_show_hobbyname">
        <% if @way.rate == 1 %>
          <span class="beginner">対象：初級者</span>
        <% elsif @way.rate == 2 %>
          <span class="middle">対象：中級者</span>
        <% elsif @way.rate == 3 %>
          <span class="hard">対象：上級者</span>
        <% else %>
          <span class="unknown">対象：不明</span>
        <% end %>
        <br>
        <p><%= @hobby.name %></p>
        <p>関連する趣味：</p>
    </div>
</div>

<Hr Width="100%">
<%= simple_format(@way.content) %>

<br><br><br>

<p class="mt-5">コメント一覧</p>
<%= render 'ways/comments', comments: @comments %>

<div class="comment">
  <% if logged_in? %>
    <%= form_with(model: [@way, @comment], local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <%= f.text_area :content, class: "form-control", rows: 5 %>
      <%= button_tag type: "submit", class: "btn btn-success float-right mt-1" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>
  <% end %>    
</div>
