<div class="row">
    <div class="col-sm-2 way_show_image">
        <%= render 'ways/image', way: @way %>
    </div>
    <div class="col-sm-8 way_show_name">
        <h2><%= @way.name %></h2>
    </div>
    <% if @user==current_user %>
        <div class="col-sm-2 way_edit_button">
            <%= link_to '編集', edit_way_path, class: 'btn btn-sm btn-light' %>
            <%= link_to "削除", @way, method: :delete, data: { confirm: "削除してよろしいですか?" }, class: 'btn btn-danger btn-sm' %>
        </div>
    <% end %>
</div>
<Hr Width="100%">
<div class="row">
    <div class="col-sm-1 way_show_userimage">
      <%= render 'users/image', user: @user %>
    </div>
    <div class="col-sm-2 way_show_username">
      <p><%= @user.name %></p>   
    </div> 
</div>

<Hr Width="100%">
<%= @way.content %>