<% if logged_in? %>
  <div class="row">
    <div class="col-lg-9">
      <h3>最近</h3>
      <%= render 'ways/ways', ways: @ways %>
      <%= paginate @ways %>
    </div>
    <div class="col-lg-3 text-center">
      <div class="post">
          <% if Rails.env.development? %>
            <img src="assets/post.png" />
          <% else %>
            <img src="https://res.cloudinary.com/hadnz0ql1/image/upload/v1586950818/post.png" />
          <% end %>
          <%= link_to new_way_path, class: 'btn btn-lg' do %>
            新規投稿は<br>コチラ
          <% end %>
      </div> 
      <br><br> 
      <div class=" find">
        <% if Rails.env.development? %>
          <img src="assets/find.png" />
        <% else %>
          <img src="https://res.cloudinary.com/hadnz0ql1/image/upload/v1587899873/undraw_web_search_eetr_ofygg5.png" />
        <% end %>
        <%= link_to '楽しみ方を探す', search_ways_path, class: 'btn btn-lg' %>
      </div>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-8">
      <h3>趣味人気ランキング</h3>
    </div>
    <div class="col-sm-4 see_more">
      <p><%= link_to 'もっと見る', hobbies_ranking_toppages_path %></p>
    </div>    
  </div>
    <%= render 'hobbies/ranking', hobbies: @all_hobbies_ranks %>
  <br>
  <div class="row">
    <div class="col-sm-8">
      <h3>楽しみ方人気ランキング</h3>
    </div>
    <div class="col-sm-4 see_more">
      <p><%= link_to 'もっと見る', ways_ranking_toppages_path %></p>
    </div>    
  </div>
    <%= render 'ways/ranking', ways: @all_ways_ranks %>
<% else %>
  <div class="center jumbotron jumbotron-extend">
    <div class="container-fluid text-center jumbotron-container">
      <h3>「気になる趣味はあるけど楽しみ方が…」</h3>
      <h3>「とっておきの趣味を知ってほしい！」</h3>
      <h3>こんなこと思ったことありませんか？</h3>
      <h2>ShareWayで叶えましょう!</h2>
      <%= link_to '始める', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>
