<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-dark bg-success">
   <a class="navbar-brand" href="/">ShareWay</a> 
  </nav>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="col-sm-1 navbar_user_image">
      <% if logged_in? %>
        <p class="text-center"><%= render 'users/image', user: current_user %></p>
        <p class="text-dark text-center"><font size="2"><%= link_to current_user.name, root_path %></font></p>
      <% end %>      
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end col-sm-11 flex-column" id="navbarSupportedContent">
      <ul class="navbar-nav w-100 nav-justified">
        <% if logged_in? %>
          <li class="nav-item dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">ユーザー</a>
            <div class="dropdown-menu">
              <div class="dropdown-item"><%= link_to 'すべてのユーザー', users_path %></div> 
              <div class="dropdown-item"><%= link_to 'フォロー', followings_user_path(current_user) %></div>
              <div class="dropdown-item"><%= link_to 'フォロワー', followers_user_path(current_user) %></div>
            </div>
          <li class="nav-item"><%= link_to 'お気に入りの趣味', like_hobbies_user_path(current_user) %></li>
          <li class="nav-item"><%= link_to 'お気に入りの楽しみ方', ways_path %></li>
          <li class="nav-item"><%= link_to '趣味一覧', hobbies_path %></li>
          <li class="nav-item dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">アカウント</a>
            <div class="dropdown-menu">
              <div class="dropdown-item"><%= link_to '設定', edit_user_path(current_user) %></div> 
              <div class="dropdown-item"><%= link_to 'パスワード変更', edit_password_user_path(current_user) %></div> 
              <div class="dropdown-item"><%= link_to 'ログアウト', logout_path, method: :delete %></div>
            </div>
        <% else %>
          <li class="nav-item"><%= link_to 'Signup', signup_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'Login', login_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
